*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto 300", sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
:root{
    --blue_main: #19376D;
    --red_deco: #D21312;
}

.form{
    margin: 80px 200px;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: var(--blue_main);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: var(--red_deco);
  }
  
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  .imgcontainer .logo {
    width: 200px;
  }
  .container {
    align-self: center;
    padding: 16px;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }